body {
  font-family: 'Roboto', sans-serif;
  color: #212529;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.table-container {
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid;
  transition: background-color 0.5s ease;
  font: inherit;
}

.btn:hover {
  color: white;
}

.add-btn {
  margin-left: 50px;
  align-self: center;
  height: 40px;
}

.success-btn {
  border-color: #28a745;
}

.success-btn:hover {
  background-color: #28a745;
}

.danger-btn {
  color: #dc3545;
  border-color: #dc3545;
}

.danger-btn:hover {
  background-color: #dc3545;
}

.main-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
}

.main-table tr {
  height: 45px;
}

.table-cell {
  min-height: 20px;
  border: 1px solid rgba(0,0,0,.125);
  box-sizing: border-box;
  padding: 0;
  width: calc(100%/7); 
}

.main-table-header {
  padding: 3px;
  padding-right: 55px;
  position: relative;
}

.table-cell-data  {
  padding: 5px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  word-break: normal;
}

.table-cell input {
  font: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-right: 35px;
}

.table-cell__with-data {
  transition: background-color 0.5s ease;
  background-color: white;
}

.table-cell__with-data:hover {
  background-color: darkgrey;
}

.table-cell__with-data {
  cursor: pointer;
}

.table-cell form {
  position: relative;
}

.confirm-btn {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.outline {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(52, 58, 64, 0.5);
  overflow: hidden;
}

.new-user-popup {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  background-color: #fff;
  padding: 5%;
  justify-content: center;
  border-radius: 30px;
}

.new-user-form {
  display: flex;
  flex-direction: column;
}

.new-user-popup label {
  width: 100px;
  display: block;
}

.new-user-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  align-self: flex-start;
}

.new-user-form-container:last-child {
  align-self: center;
}

.new-user-btn {
  padding: 5px 15px;
}

.pagination-btn-container {
  align-self: center;
  margin-top: 5px;
  display: flex;
  width: 140px;
  justify-content: space-between;
}

.popup-close-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  border-radius: 30px;
}

.reqular-btn {
  border-color: #343a40;
}

.reqular-btn:hover {
  background-color: #343a40;
}

.pagination-number {
  display: block;
  width: 20px;
  background-color: white;
  border-radius: 0.25rem;
  font: inherit;
  border: 1px solid #343a40;
  text-align: center;
  margin: 0 5px;
}

.delete-row-btn {
  display: none;
  position: absolute;
  border-radius: 30px;
  color: #dc3545;
  border-color: #dc3545;
  width: 20px;
  height: 20px;
  transform: translateY(70%);
  line-height: 1rem;
}

.user-row:hover .delete-row-btn {
  display: block;
}

.sort-btn {
  position: absolute;
  
}

.sort-btn__up {
  transform: rotate(90deg);
  right: 30px;
}

.sort-btn__down {
  transform: rotate(-90deg);
  right: 3px;
}

.sort-btn__active {
  background-color: #343a40;
  color: white;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
